.content
  .main
    .sub-title
      .main-title
        = @category.name


  .main-content
    .main-content__list
      .main-content__list__list-name
        = link_to new_category_message_path(current_user) do
          = icon('fas','plus')
        list
      .main-content__list__memo
        memo
    .main-content__review
      - current_user.messages.each do |message|
        .write-list
          = message.name
        .write-memo
          = message.memo